@import url(normalize.css);

* {
  box-sizing: border-box;
  font-family: "Khula", sans-serif;
}

body {
  background: linear-gradient(rgb(230, 156, 103), rgb(176, 104, 53));
  height: 100vh;
}

.calculator {
  font-family: sans-serif;
  width: 500px;
  height: 750px;
  border-radius: 25px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(218, 218, 218);
  box-shadow: rgba(160, 81, 11, 0.624) 0px 20px 29px 0px;

  .top {
    text-align: right;
    font-size: 2em;
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 220px;
    border-radius: 25px 25px 0 0;
    padding: 50px 50px;
  }

  .bottom {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-grow: 1;
    overflow: hidden;
    gap: 2px;

    .buttons {
      font-size: 1.5em;
      background: linear-gradient(
        120deg,
        rgb(233, 230, 230),
        rgb(255, 255, 255)
      );

      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.1s ease-in-out;

      &:hover {
        box-shadow: rgba(214, 175, 145, 0.898) 0px 0px 15px;
        z-index: 20;
      }
    }

    .red {
      background: linear-gradient(120deg, rgb(226, 102, 102), rgb(178, 70, 70));
    }

    .orange {
      background: linear-gradient(
        120deg,
        rgb(205, 149, 109),
        rgb(230, 179, 142)
      );
    }

    .borderleft {
      border-radius: 0 0 0 25%;
    }

    .borderright {
      border-radius: 0 0 25% 0;
    }
  }
}

footer {
  z-index: 10;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: baseline;

  position: fixed;
  bottom: 1em;
  right: 30px;
  text-align: center;
  z-index: 50;
  font-size: 1em;
  gap: 7px;
  cursor: default;

  .fa-github {
    color: white;
    font-size: 2em;
    transition: 0.3s ease-in-out;

    &:hover {
      transform: rotate(360deg) scale(1.2);
    }
  }
}
